@use "../base/typhography" as *;
@use "../base/colors" as *;

$assetspath: "../images";

html {
  font-size: 1.125em;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-outfit;
  margin: 0px;
  padding: 0px;
  background-color: $main-bg;
  color: $white;
  height: 100vh;
}
