@use "../base/" as *;

.container {
  height: 596px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: $card-bg;
  border-radius: 15px;
  padding: 24px;
}

.displayphoto {
  height: 302px;
  width: 302px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-image: url($assetspath + "/image-equilibrium.jpg");
  background-position: center;
  background-size: 100%;
  position: relative;
  display: inline-block;
}

.displayphoto:hover {
  cursor: pointer;
}

.displayphoto:hover::before {
  content: "";
  display: block;
  background-image: url($assetspath + "/icon-view.svg"); /* your background */
  width: 48px; /* image width */
  height: 48px; /* image height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 22px;
  width: 302px;
  margin: 0 0 24px 0;
}

.title:hover {
  cursor: pointer;
  color: $cyan;
}

.description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: $softblue;
  margin: 0 0 24px 0;
}

.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  &__price {
    display: flex;
    align-items: center;

    &--iconetherium {
      height: 18px;
      width: 11px;
      margin: 0 6px 0 0;
    }

    &--pricelabel {
      color: $cyan;
    }
  }

  &__time {
    display: flex;
    align-items: center;

    &--icontime {
      margin: 0 6px 0 0;
      height: 16px;
      width: 16px;
    }

    &--timelabel {
      color: $softblue;
    }
  }
}

.divider {
  background-color: $line-bg;
  border: 0px;
  height: 1px;
  margin: 0 0 16px 0;
}

.credits {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  height: 33px;

  &__label {
    font-size: 16px;
    color: $softblue;

    &--link {
      color: $white;
    }

    &--link:hover {
      color: $cyan;
      cursor: pointer;
    }
  }

  &__iconavatar {
    height: 33px;
    width: 33px;
    border: 1px solid $white;
    border-radius: 100%;
    margin-right: 16px;
  }
}
